@using System.Security.Claims;
@model IEnumerable<nexumApp.Models.Ong>

@{
    ViewData["Title"] = "Index";
}

@{string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;}
@* @{bool isAuthenticated = User.Identity.IsAuthenticated;} *@

<h1>ONGs</h1>

@* @if(isAuthenticated) {
    <p>
        <a asp-action="Create">Cadastrar ONG</a>
    </p>
} *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriçao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereço)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriçao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereço)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Perfil</a>
                @if(item.UserId == userId) {
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
