@using System.Security.Claims;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<nexumApp.Models.Ong>;

@{
    ViewData["Title"] = "Ongs cadastradas";
    var currentPage = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
}
<link rel="stylesheet" href="~/css/ongsIndex.css" />

@{string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;}

@if(@Model.Count == 0) {
    <h4 class="ONGS-empty">Não há nenhuma ONG cadastrada :(</h4>
} 
else {
<h1 class="ONGS-title">ONGs cadastradas</h1>
<h4 class="ONGS-subtitle">@ViewBag.Total ONGs</h4>

<div class="ONGS-flex-container">
@foreach (var item in Model) {
    var tagId = item.Tag.GetValueOrDefault();
    <a class="ONGS-flex-container-item" asp-action="Details" asp-route-id="@item.Id">
        <div class="ONGS-flex-container-item-img">
            <img class="ONGS-flex-container-item-img-src" src="@item.ImageURL">
        </div>
        <h5>@Html.DisplayFor(modelItem => item.Nome)</h5>
        <span class="ONGS-flex-container-tag">@ViewBag.Tags[tagId]</span>
        <p class="ONGS-flex-container-item-endereço">@Html.DisplayFor(modelItem => item.Endereço)</p>
        <p class="ONGS-flex-container-item-descriçao">@Html.DisplayFor(modelItem => item.Descriçao)</p>
    </a>
}
</div>
<span>Página @currentPage de @Model.PageCount</span>
<span>@Html.PagedListPager( Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
    {
        LiElementClasses = new List<string> {"paginationItem"}
    })</span>

}
        