@using System.Security.Claims;
@model IEnumerable<nexumApp.Models.Ong>

@{
    ViewData["Title"] = "Index";
}

@{string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;}

<link rel="stylesheet" href="~/css/ongsIndex.css" />
@if(@Model.Count() == 0) {
    <h4 class="ONGS-empty">Não há nenhuma ONG cadastrada :(</h4>
} 
else {
<h1 class="ONGS-title">ONGs cadastradas</h1>
<h4 class="ONGS-subtitle">@Model.Count() ONGs</h4>

<div class="ONGS-flex-container">
@foreach (var item in Model) {

    <a class="ONGS-flex-container-item" asp-action="Details" asp-route-id="@item.Id">
        <div class="ONGS-flex-container-item-img">

        </div>
        <h5>@Html.DisplayFor(modelItem => item.Nome)</h5>
        <p class="ONGS-flex-container-item-endereço">@Html.DisplayFor(modelItem => item.Endereço)</p>
        <p class="ONGS-flex-container-item-descriçao">@Html.DisplayFor(modelItem => item.Descriçao)</p>
    </a>
}
</div>
}

        